# BOT ENVs
PORT=8080
DB_STRING=mongodb://localhost:27017/yourdb
TELEGRAM_API=YOUR_API_KEY

# ID do grupo de logs (notificações de novos users/grupos)
groupId=ID_GROUP_LOG

GROWTH_LOG_CHAT_ID=-1001962261893
GROWTH_LOG_THREAD_ID=112375

# ID da mensagem fixada no grupo de logs (opcional, para reply_to)
LOG_MSG_ID=38567

# IDs dos devs separados por vírgula (sem espaço)
DEV_USERS=123456789,987654321

# ID do canal de status do bot
channelStatusId=ID_CHANNEL_STATUS

PIX_DONATION_KEY=32dc79d2-2868-4ef0-a277-2c10725341d4
